.header {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.header__wrapper_signUp {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 30px;
  min-width: fit-content;
  gap: 100px;
  align-items: flex-end;
}

.material-icons {
  font-size: 24px;
}
